body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
     flex-direction: column;
    min-height: 100vh;
}


.container {
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-solid {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
        text-decoration: none;
        color: #222222;
}

.f-info-links a:hover {
      text-decoration: underline;

}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display :flex;
    align-items: center;
    justify-content: center;

}


.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
      text-align: center;
      height: 8rem;
      background-color: #ebebeb;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: space-evenly;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
     padding: 0 !important;
}

.card-text p {
    font-weight: 400rem;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {

       background-color: #fe424d !important;
       border: none;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none;
}

.show-img{
   height:30vh;
}

.btns {
    display:flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

// new design 
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color:  #F4F4F4; (--primary-color);
    color:  #FFFFFF; (--secondary-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Blog Post Styles */
.blog-post {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.blog-post h2 {
    font-size: 1.8rem;
    margin-top: 0;
}

.blog-post p {
    font-size: 1rem;
    margin: 10px 0;
}

.blog-post img {
    max-width: 100%;
    border-radius: 8px;
}

/* Footer Styles
footer {
    text-align: center;
    padding: 20px 0;
    
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
} */

/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .blog-post h2 {
        font-size: 1.5rem;
    }

    .blog-post p {
        font-size: 0.9rem;
    }
}
